* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(235,63,255,0.28)
}

.text-container {
    font-size: 18px;
    display: flex;
    border: 2px solid #d837ff;
    background-color: rgba(229,108,255,0.3);
    border-radius: 2%;
    width: 700px;
    height: 350px;
    padding: 16px;
    flex-direction: column;
}

.task2-style {
    text-align: center;
    line-height: 30px;
}

ul.fruits {
    list-style: none;
    margin-left: -14px;
}

ul.fruits li:before {
    content: "• ";
    color: black;
}

li {
    margin-left: 35px;
}

.task3-body-style {
    display: flex;
    gap: 36px;
}

img {
    width: 400px;
}

.task4-block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.task4-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 600px;
    gap: 17px;
    height: 600px;
    border: 2px solid blue;
    border-radius: 5px;
}

.task4-hr-style {
    width: 300px;
    border: 1px solid blue;
}