*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-container{
    background-color: rgba(213,113,255,0.27);
    border: 2px solid #d837ff;
    border-radius: 2%;
    width: 47%;
    height: 47%;
    padding: 16px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(220,103,255,0.31)
}
.task2-style {
    text-align: center;
    line-height: 30px;
}
ul.fruits {
    list-style: none;
    margin-left: -14px;
}

ul.fruits li:before {
    content: "• ";
    color: black;
}
li{
    margin-left: 35px;
}
.task3-body-style{
    display: flex;
    gap: 36px;
}